@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Rubik&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    background-color: #c9e7f2;
}

/* Header */

header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    padding: 2.5rem 1.25rem;
    max-height: 4.31rem;
    background-color: #d98825;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Header Logo*/
.left {
    color: #fff;
    font-family: 'Rubik', sans-serif;
    font-size: 1.25rem;
    display: flex;
}

.material-symbols-outlined {
    font-size: 3.125rem !important;
}

.right {
    font-family: 'Rubik', sans-serif;
    color: #fff;
}

.menu {
    font-size: 1.25rem;
    margin: 0;
    padding: 0px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-size: 1.25rem;
}

a:hover {
    text-decoration: underline;
}

/* Dropdown Menu CSS*/
.dropdown:hover .current_menu {
    display: flex;
    flex-direction: column;
    background-color: #408699;
    border-radius: 5px;
    padding: 40px 20px 0 10px;
    position: absolute;
    top: -10px;
    left: -10px;
}

.current_menu a:hover {
    color: #d98825;
}

.current_menu {
    display: none;
    z-index: 1;
}

.dropdown {
    position: relative;
}

.dropdown > span {
    padding-right: 10px;
    z-index: 2;
    position: relative;
    cursor: pointer;
}

.current_menu li {
    list-style: none;
    border-bottom: 1px solid #d98825;
    padding: 0 30px 10px 30px;
    margin: 4px;
}

.current_menu li:last-of-type {
    border-bottom: none;
}

/* Hero Image */
.hero_img {
    height: 200px;
    width: 200px;
    border-radius: 150px;
    object-fit: cover;
}

.hero {
    margin-top: 80px; /* IS this the best way to fix fixed nav bar overlap content? research*/
    padding: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c9e7f2;
}

.hero_left {
    color: #408699;
    line-height: 50px;;
}

.hero_left h1{
    font-family: 'Rubik', sans-serif;
    font-size: 3.125rem;
}

.hero_left h4 {
    font-size: 1.56rem;
}

.hero_left button {
    background-color: #d98825;
    border: none;
    height: 41px;
    width: 156px;
    border-radius: 15px;
    font-size: 1.25rem;
    color: #fff;
    margin-top: 30px;
}

/* Mission */

.mission {
    display: flex;
}

.mission_left {
    width: 50%;
    height: 362px;
    overflow: hidden;
}

.mission_left img {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.mission_right {
    width: 50%;
    height: 362px;
    overflow: hidden;
    background-color: #408699;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mission_right h2{
    font-family: 'Rubik', sans-serif;
    color: #fff;
    font-size: 1.874rem;
}

.mission_right p {
    font-size: 1.56rem;
    color: #fff;
    text-align: center;
    padding: 30px 75px;
}

/* Current Reads */

.read img {
    width: 176px;
    height: 238px;
    display: block;
    object-fit: cover;
    border-radius: 20px;
}

.current_reads {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
}

.read_tiles {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 70px;
}

.read {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.current_reads h2 {
    font-family: 'Rubik', sans-serif;
    color: #408699;
    font-size: 1.87rem;
}

.read h6 {
    color:#408699;
    font-size: 1.12rem;
    margin-top: 20px;
}

.read p {
    font-size: 1rem;
    margin-top: 3px;
    color: #d98825;
}

/* Footer */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color:#d98825;
    font-size: 0.75em;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px 10px;
}

footer .material-symbols-outlined {
    font-size: 2.5rem !important;
}

/*Mobile Styles*/
@media only screen and (max-width: 400px) {
    .left h3 {
        display: hidden;
    }
    .mission_left {
        display: hidden;
    }
    .read_tiles {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

/*Tablet Styles*/
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .left {
        font-size: 1rem;
    }
    .header {
        max-width: 100%;
        height: auto;
    }
    .read_tiles {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .header {
        padding: 3.12rem 1.87 rem;
        max-width: 100%;
        height: auto;
    }
    .mission_right h2 {
        font-size: 1.12;
    }
    .mission_right p {
        font-size: 1rem;
    }

    
}