@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Rubik&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}

/* Header */

header {
    position: fixed;
    width: 100%;
    padding: 40px 20px;
    height: 69px;
    background-color: #d98825;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Header Logo*/
.left {
    color: #fff;
    font-family: 'Rubik', sans-serif;
    font-size: 1.25rem;
    display: flex;
}

.material-symbols-outlined {
    font-size: 3.125rem !important;
}

.right {
    font-family: 'Rubik', sans-serif;
    color: #fff;
}

.menu {
    font-size: 1.25rem;
    margin: 0;
    padding: 0px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-size: 1.25rem;
}

a:hover {
    text-decoration: underline;
}

/* Dropdown Menu CSS*/
.dropdown:hover .current_menu {
    display: flex;
    flex-direction: column;
    background-color: #c9e7f2;
    border-radius: 5px;
    padding: 40px 20px 0 10px;
    position: absolute;
    top: -10px;
    left: -10px;
}

.current_menu a:hover {
    color: #408699;
}

.current_menu {
    display: none;
    z-index: 1;
}

.dropdown {
    position: relative;
}

.dropdown > span {
    padding-right: 10px;
    z-index: 2;
    position: relative;
    cursor: pointer;
}

.current_menu li {
    list-style: none;
    border-bottom: 1px solid #d98825;
    padding: 0 30px 10px 30px;
    margin: 4px;
}

.current_menu li:last-of-type {
    border-bottom: none;
}

